.nav {
    display: flex;
    justify-content: center;
}

.a {
    margin: 0 1rem;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

.a:hover {
    color: #CCC;
}

.active {
    background-color: #000;
    color: #FFF;
}