.game {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game h1 {
    font-size: 2.5rem;
}

.score span {
    font-weight: bold;
    margin-bottom: 4rem;
}

.tip span {
    color: #ECFA00
}

.wordContainer {
    display: flex;
    padding: 1.5rem;
    border: 20px solid #ECFA00;
}

.letter, .blankSquare {
    font-size: 4.375rem;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2rem;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    text-align: center;
    margin-right: 2rem;
}